@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";


:root {
    --color-bg-body: #1C2025;
    --dark-gray:#171719;
    --tangerine: #FF6247;
    --tangerine-hover: #FF7A62;
    --tangerine-muted: rgba(255, 98, 71, 0.15);
    --tangerine-transparent: rgba(255, 98, 71, 0.2);
    --white: #F4FCFE;
    --font-family-body: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
    background-color: var(--color-bg-body);
    color: var(--color-text-body);
    font-family: var(--font-family-body);
}

.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 50px;
}

.m_scroll_arrows
{
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 4px solid var(--tangerine);
    border-bottom: 4px solid var(--tangerine);
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}


.uno
{
    margin-top: 1px;
}

.uno, .dos, .tres
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.uno
{
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-delay: alternate;
}

.dos
{
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    animation-delay: .2s;
    animation-direction: alternate;
    margin-top: -6px;
}

.tres
{
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    animation-delay: .3s;
    animation-direction: alternate;
    margin-top: -6px;
}

@-webkit-keyframes mouse-scroll {
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}
@keyframes mouse-scroll {
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}