---
import '../../styles/global.css';
---

<header class='flex flex-col justify-center items-center h-screen'>
	<h1 class='text-[48px] font-bold text-[var(--tangerine)]'>Front Atlas</h1>
	<h2 class='text-[24px] text-[var(--white)] text-center'>
		Los mejores recursos <span class='text-[var(--tangerine)]'>web</span> para <span class='text-[var(--tangerine)]'>Front-end</span>
	</h2>
</header>
