---
import '../../styles/global.css';
---

<header class='relative overflow-hidden flex flex-col justify-center items-center h-screen'>
	<div
		class='absolute
    top-1/2
    left-1/2
    -translate-x-1/2
    -translate-y-[55%]
    w-[300px]
    h-[300px]
    md:w-[400px]
    md:h-[400px]
    rounded-full
    bg-[var(--tangerine-transparent)]
    blur-[50px]
    pointer-events-none
    z-0'
		aria-hidden='true'
	>
	</div>
	<h1 class='relative z-10 text-[48px] md:text-[64px] font-bold text-[var(--tangerine)]'>Front Atlas</h1>
	<h2 class='relative z-10 text-[24px] max-w-[400px] text-[var(--white)] text-center italic'>
		Los mejores recursos <span class='text-[var(--tangerine)]'>web</span> para <span class='text-[var(--tangerine)]'>Front-end</span>
	</h2>
</header>
